<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <provider
            android:name=".FormContentProvider"
            android:authorities="${applicationId}.FormContentProvider"
            android:exported="false"
            android:enabled="true" />



    </application>

</manifest>